# Ignorar el archivo .env
.env
.envRender

# Ignorar archivos temporales de Python
__pycache__/

# Ignorar configuraciones locales de tu entorno
.vscode/
.idea/
.web/
flask_session/
Proyectos/

TemasPendientes.txt