.Miga1
	{
	COLOR: #6C93B0;
	FONT-FAMILY: Verdana;
	FONT-SIZE: 10px;
    font-style: normal;
	font-weight: bold;
	TEXT-DECORATION: none;
	font-style: normal;
	line-height: normal;
	text-transform: uppercase;
	}

.Miga2
	{
	COLOR: #6C93B0;
	FONT-FAMILY: Verdana;
	FONT-SIZE: 10px;
    font-style: normal;
	font-weight: normal;
	TEXT-DECORATION: none;
	font-style: normal;
	line-height: normal;
	text-transform: capitalize;
	}

.etiquetaform{
    FONT-FAMILY: Arial; 
    FONT-SIZE: 11px;
    FONT-WEIGHT: normal;
    COLOR: #716F6E;
    TEXT-DECORATION: none 
}

.Titulo_seccion 
	{
	COLOR: #2088FF; 
	FONT-FAMILY: Verdana;
	FONT-SIZE: 16px;
    font-style: normal;
	font-weight: bold;
	TEXT-DECORATION: none;
	font-style: normal;
	line-height: normal;
	text-transform: uppercase;
	}

.Tabla_titulo
	{
	COLOR: #2088FF; 
	FONT-FAMILY: Arial;
	FONT-SIZE: 9pt;
    font-style: normal;
	font-weight: bold;
	TEXT-DECORATION: none;
	font-style: normal;
	line-height: normal;
	text-transform: none;
	}

.Tabla_subtitulo
	{
	COLOR: #666666; 
	FONT-FAMILY: Arial;
	FONT-SIZE: 9pt;
    font-style: normal;
	font-weight: bold;
	TEXT-DECORATION: none;
	font-style: normal;
	line-height: normal;
	}

.Noticias_cabecera
	{
	COLOR: #FF6600; 
	FONT-FAMILY: Verdana;
	FONT-SIZE: 24px;
    font-style: normal;
	font-weight: bold;
	TEXT-DECORATION: none;
	font-style: normal;
	line-height: normal;
    text-transform: capitalize;
	}
	
.Noticias_titulo
	{
	COLOR: #6C93B0; 
	FONT-FAMILY: Verdana;
	FONT-SIZE: 18px;
    font-style: normal;
	font-weight: bold;
	TEXT-DECORATION: none;
	font-style: normal;
	line-height: normal;
    text-transform: capitalize;
	}	

.Noticias_cuerpo
	{
	COLOR: #000000; 
	FONT-FAMILY: Verdana;
	FONT-SIZE: 10px;
    font-style: normal;
	font-weight: normal;
	TEXT-DECORATION: none;
	font-style: normal;
	line-height: normal;
    text-transform: normal;
	}	

.Noticias_pie_foto
	{
	COLOR: #666666; 
	FONT-FAMILY: Arial;
	FONT-SIZE: 10px;
    font-style: normal;
	font-weight: normal;
	TEXT-DECORATION: none;
	font-style: normal;
	line-height: normal;
    text-transform: normal;
	}	
.Link
	{
	COLOR: #000099; 
	FONT-FAMILY: Arial;
	FONT-SIZE: 8pt;
    font-style: normal;
	font-weight: normal;
	TEXT-DECORATION: none;
	font-style: normal;
	line-height: normal;
    text-transform: normal;
	}	

.Link_sub
	{
	COLOR: #000099; 
	FONT-FAMILY: Arial;
	FONT-SIZE: 8pt;
    font-style: normal;
	font-weight: normal;
	TEXT-DECORATION: underline;
	font-style: normal;
	line-height: normal;
    text-transform: normal;
	}	
.aviso
    {
	COLOR: #CC3333; 
	FONT-FAMILY: Arial;
	FONT-SIZE: 9pt;
    font-style: normal;
	font-weight: bold;
	TEXT-DECORATION: none;
	font-style: normal;
	line-height: normal;
    }


.alerta
    {
	COLOR: #CC3333; 
	FONT-FAMILY: Arial;
	FONT-SIZE: 9pt;
    font-style: normal;
	font-weight: bold;
	TEXT-DECORATION: blink;
	font-style: normal;
	line-height: normal;
    }

.home_titulo_negrita
	{
	COLOR: #000000; 
	FONT-FAMILY: Arial;
	FONT-SIZE: 16px;
    font-style: normal;
	font-weight: bold;
	TEXT-DECORATION: none;
	font-style: normal;
	line-height: normal;
    text-transform: normal;
	}	
.home_titulo_normal
	{
	COLOR: #000000; 
	FONT-FAMILY: Arial;
	FONT-SIZE: 16px;
    font-style: normal;
	font-weight: normal;
	TEXT-DECORATION: none;
	font-style: normal;
	line-height: normal;
    text-transform: normal;
	}	

.boton1
	{
	width:96px;
	height:21px;
	border: rgb(128,128,128) 1px solid;
	background-color: rgb(233,233,233);
	font-family: Verdana;
	font-size:8pt;
	}
.boton2
	{
	font-family: Verdana;
	font-size:8pt;
	}

.cajaExtraBig{
    FONT-FAMILY: Arial; 
    FONT-SIZE: 10px;
    FONT-WEIGHT: normal;
    COLOR: #666EAE;
    TEXT-DECORATION: none
    BORDER-COLOR:#666EAE;           
    border-style: solid;
    border-width: 1px;
	height:18px;
	width:605px;
}

.cajaBig{
    FONT-FAMILY: Arial; 
    FONT-SIZE: 10px;
    FONT-WEIGHT: normal;
    COLOR: #666EAE;
    TEXT-DECORATION: none
    BORDER-COLOR:#666EAE;           
    border-style: solid;
    border-width: 1px;
	height:18px;
	width:330px;
}

.cajaBigMid{
    FONT-FAMILY: Arial; 
    FONT-SIZE: 10px;
    FONT-WEIGHT: normal;
    COLOR: #666EAE;
    TEXT-DECORATION: none
    BORDER-COLOR:#666EAE;           
    border-style: solid;
    border-width: 1px;
	height:60px;
	width:300px;
}

.cajaMid{
    FONT-FAMILY: Arial; 
    FONT-SIZE: 10px;
    FONT-WEIGHT: normal;
    COLOR: #666EAE;
    TEXT-DECORATION: none
    BORDER-COLOR:#666EAE;           
    border-style: solid;
    border-width: 1px;
	height:18px;
	width:150px;
}

.cajaMid2{
    FONT-FAMILY: Arial; 
    FONT-SIZE: 10px;
    FONT-WEIGHT: normal;
    COLOR: #666EAE;
    TEXT-DECORATION: none
    BORDER-COLOR:#666EAE;           
    border-style: solid;
    border-width: 1px;
	height:18px;
	width:200px;
}

.cajaLit{
    FONT-FAMILY: Arial; 
    FONT-SIZE: 10px;
    FONT-WEIGHT: normal;
    COLOR: #666EAE;
    TEXT-DECORATION: none
    BORDER-COLOR:#666EAE;           
    border-style: solid;
    border-width: 1px;
	height:18px;
	width:75px;
}

.cajaMin{
    FONT-FAMILY: Arial; 
    FONT-SIZE: 10px;
    FONT-WEIGHT: normal;
    COLOR: #666EAE;
    TEXT-DECORATION: none
    BORDER-COLOR:#666EAE;           
    border-style: solid;
    border-width: 1px;
	height:18px;
	width:25px;
}
