/*
//           _/_/_/_/_/_/_/_/_/_/_/_/_/_/_/_/_/_/_/
//          _/_/_/_/_/_/_/_/_/_/_/_/_/_/_/_/_/_/_/
//         _/_/                                            _/_/
//        _/_/         Style.css  // Rexona  _/_/
//       _/_/        18-Jun-2002               _/_/
//      _/_/     Copyright IT Deusto.      _/_/
//     _/_/     Maquetación                  _/_/
//    _/_/   Estilos Internet Explorer  _/_/
//   _/_/                                          _/_/
//  _/_/_/_/_/_/_/_/_/_/_/_/_/_/_/_/_/_/
// _/_/_/_/_/_/_/_/_/_/_/_/_/_/_/_/_/_/
//
*/
.arial9   {
    FONT-FAMILY: Arial; 
    FONT-SIZE: 9px;
    FONT-WEIGHT: normal;
    COLOR: #716F6E;
    TEXT-DECORATION: none
           
}

.arial10   {
    FONT-FAMILY: Arial; 
    FONT-SIZE: 10px;
    FONT-WEIGHT: normal;
    COLOR: #666EAE;
    TEXT-DECORATION: none
           
}
.arial10Negro   {
    FONT-FAMILY: Arial; 
    FONT-SIZE: 10px;
    FONT-WEIGHT: normal;
    COLOR: #000000;
    TEXT-DECORATION: none
           
}
.arial107   {
    FONT-FAMILY: Arial; 
    FONT-SIZE: 10px;
    FONT-WEIGHT: normal;
    COLOR: #716F6E;
    TEXT-DECORATION: none
           
}
 
.arial11norm   {
    FONT-FAMILY: Arial; 
    FONT-SIZE: 11px;
    FONT-WEIGHT: normal;
    COLOR: #666EAE;
    TEXT-DECORATION: none
           
}
.arial11   {
    FONT-FAMILY: Arial; 
    FONT-SIZE: 11px;
    FONT-WEIGHT: bold;
    COLOR: #666EAE;
    TEXT-DECORATION: none
}
.arial11azul{
    FONT-FAMILY: Arial; 
    FONT-SIZE: 11px;
    FONT-WEIGHT: normal;
    COLOR: #716F6E;
    TEXT-DECORATION: none 
}
.arial11azulBold{
    FONT-FAMILY: Arial; 
    FONT-SIZE: 11px;
    FONT-WEIGHT: bold;
    COLOR: #716F6E;
    TEXT-DECORATION: none 
}

.arial12   {
    FONT-FAMILY: Arial; 
    FONT-SIZE: 12px;
    FONT-WEIGHT: normal;
    COLOR: #666EAE;
    TEXT-DECORATION: none
           
}

.arial12Bold   {
    FONT-FAMILY: Arial; 
    FONT-SIZE: 12px;
    FONT-WEIGHT: bold;
    COLOR: #666EAE;
    TEXT-DECORATION: none
         
}
.arial13   {
    FONT-FAMILY: Arial; 
    FONT-SIZE: 13px;
    FONT-WEIGHT: normal;
    COLOR: #716F6E;
    TEXT-DECORATION: none
}

.arial13Bold7   {
    FONT-FAMILY: Arial; 
    FONT-SIZE: 13px;
    FONT-WEIGHT: bold;
    COLOR: #716F6E;
    TEXT-DECORATION: none
}
.arial13Bold   {
    FONT-FAMILY: Arial; 
    FONT-SIZE: 13px;
    FONT-WEIGHT: bold;
    COLOR: #666EAE;
    TEXT-DECORATION: none
         
}
.arial27  {
    FONT-FAMILY: Arial; 
    FONT-SIZE: 27px;
    FONT-WEIGHT: bold;
    COLOR: #716F6E;
    TEXT-DECORATION: none
         
}
.caja{
    FONT-FAMILY: Arial; 
    FONT-SIZE: 10px;
    FONT-WEIGHT: normal;
    COLOR: #666EAE;
    TEXT-DECORATION: none
    BORDER-COLOR:#666EAE;           
    border-style: solid;
    border-width: 1px;
}
.cajaPart{
    FONT-FAMILY: Arial; 
    FONT-SIZE: 10px;
    FONT-WEIGHT: normal;
    COLOR: #000000;
   WIDTH: 140px;
}
.cajaGris{
    FONT-FAMILY: Arial; 
    FONT-SIZE:10px;
    FONT-WEIGHT: normal;
    COLOR: #000000;
    TEXT-DECORATION: none
    BORDER-COLOR: #716F6E;
    border-style: solid;
    border-width: 1px;
    width:46px;
}

.formBlue11   {
    FONT-FAMILY: Arial; 
    FONT-SIZE: 11px;
    FONT-WEIGHT: normal;
    COLOR: #666EAE;
    TEXT-DECORATION: none
           
}

.popupBlue10   {
    FONT-FAMILY: Arial; 
    FONT-SIZE: 10px;
    FONT-WEIGHT: normal;
    COLOR: #666EAE;
    TEXT-DECORATION: none
           
}

.popupWhite11   {
    FONT-FAMILY: Arial; 
    FONT-SIZE: 12px;
    FONT-WEIGHT: normal;
    COLOR: #ffffff;
    TEXT-DECORATION: none
           
}


.cajaExtraBig{
    FONT-FAMILY: Arial; 
    FONT-SIZE: 10px;
    FONT-WEIGHT: normal;
    COLOR: #666EAE;
    TEXT-DECORATION: none
    BORDER-COLOR:#666EAE;           
    border-style: solid;
    border-width: 1px;
	height:18px;
	width:605px;
}

.cajaBig{
    FONT-FAMILY: Arial; 
    FONT-SIZE: 10px;
    FONT-WEIGHT: normal;
    COLOR: #666EAE;
    TEXT-DECORATION: none
    BORDER-COLOR:#666EAE;           
    border-style: solid;
    border-width: 1px;
	height:18px;
	width:330px;
}

.cajaBigMid{
    FONT-FAMILY: Arial; 
    FONT-SIZE: 10px;
    FONT-WEIGHT: normal;
    COLOR: #666EAE;
    TEXT-DECORATION: none
    BORDER-COLOR:#666EAE;           
    border-style: solid;
    border-width: 1px;
	height:18px;
	width:200px;
}

.cajaMid{
    FONT-FAMILY: Arial; 
    FONT-SIZE: 10px;
    FONT-WEIGHT: normal;
    COLOR: #666EAE;
    TEXT-DECORATION: none
    BORDER-COLOR:#666EAE;           
    border-style: solid;
    border-width: 1px;
	height:18px;
	width:150px;
}

.cajaLit{
    FONT-FAMILY: Arial; 
    FONT-SIZE: 10px;
    FONT-WEIGHT: normal;
    COLOR: #666EAE;
    TEXT-DECORATION: none
    BORDER-COLOR:#666EAE;           
    border-style: solid;
    border-width: 1px;
	height:18px;
	width:75px;
}

.cajaMin{
    FONT-FAMILY: Arial; 
    FONT-SIZE: 10px;
    FONT-WEIGHT: normal;
    COLOR: #666EAE;
    TEXT-DECORATION: none
    BORDER-COLOR:#666EAE;           
    border-style: solid;
    border-width: 1px;
	height:18px;
	width:25px;
}

.cajaExtraBigMulti{
    FONT-FAMILY: Arial; 
    FONT-SIZE: 10px;
    FONT-WEIGHT: normal;
    COLOR: #666EAE;
    TEXT-DECORATION: none
    BORDER-COLOR:#666EAE;           
    border-style: solid;
    border-width: 1px;
	height:45px;
	width:605px;
}

.arial10tabs{
    FONT-FAMILY: Arial; 
    FONT-SIZE: 10px;
    FONT-WEIGHT: normal;
    COLOR: #716F6E;
    TEXT-DECORATION: none 
}

.arial10Whtabs{
    FONT-FAMILY: Arial; 
    FONT-SIZE: 10px;
    FONT-WEIGHT: normal;
    COLOR: #FFFFFF;
    TEXT-DECORATION: none 
}

.arialTabsazulBold{
    FONT-FAMILY: Arial; 
    FONT-SIZE: 11px;
    FONT-WEIGHT: bold;
    COLOR: #666EAE;
    TEXT-DECORATION: none 
}

.arial11Space{
    FONT-FAMILY: Arial; 
    FONT-SIZE: 11px;
    FONT-WEIGHT: normal;
    COLOR: #716F6E;
    TEXT-DECORATION: none; 
	line-height: 16px
}