<!DOCTYPE html>
<html lang="es">
<head>
    <title>Mesas de Mus</title>
</head>
<body>
    <div id="mesa_1" class="mesa"></div>
    <div id="mesa_2" class="mesa"></div>
    <script>
        document.addEventListener('DOMContentLoaded', () => {
            const mesaId = "mesa_1"; // ID dinámico
            const mesaElement = document.querySelector(`#${mesaId}`);
            console.log("Mesa element: ", mesaElement); // Debería devolver el elemento <div id="mesa_1">
        });
    </script>
</body>
</html>