<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sala de Espera - Musdocemas</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
	<script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.0.1/socket.io.js"></script>
    <div id="username" data-username="{{ usuario }}" style="display: none;"></div>	
    <script src="{{ url_for('static', filename='js/script.js') }}"></script>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
</head>
<body>
    <header class="header">
        <h1>Musdocemas - Sala de Espera - Bienvenido {{ usuario }}</h1>
        <nav>
            <a href="perfil.html">Perfil</a>
            <a href="estadisticas.html">Estadísticas</a>
            <a href="reglas.html">Reglas</a>
            <a href="logout.html">Cerrar Sesión</a>
            <button class="crear-mesa-btn" onclick="crearMesa()"><i class="fas fa-plus"></i> Crear Nueva Mesa</button>
        </nav>
    </header>

    <main class="sala-espera">
	
        <div class="mesa">
            <h3>Mesa 1 - En juego</h3>
            <div class="tapete">
                <!-- Avatares y etiquetas de los jugadores -->
                <div class="jugador jugador-1" style="background-image: url('avatar1.png');"></div>
                <div class="nombre-jugador jugador-1">Jugador 1</div>

                <div class="jugador jugador-2" style="background-image: url('avatar2.png');"></div>
                <div class="nombre-jugador jugador-2">Jugador 2</div>

                <div class="jugador jugador-3" style="background-image: url('avatar3.png');"></div>
                <div class="nombre-jugador jugador-3">Jugador 3</div>

                <div class="jugador jugador-4" style="background-image: url('avatar4.png');"></div>
                <div class="nombre-jugador jugador-4">Jugador 4</div>
            </div>
        </div>

	
        <section class="mesas-container" id="mesasContainer"></section>
        <aside class="chat">
            <h3>Chat de la Sala</h3>
            <div class="mensajes" id="chat-box">
            </div>				  
            <input type="text" placeholder="Escribe un mensaje..." class="input-chat" id="chat-message">
            <button class="enviar-btn" onclick="sendMessage()">Enviar</button>
            <div class="jugadores-conectados">
                <h3>Jugadores Conectados</h3>
					<ul id="player-list"></ul>
            </div>
        </aside>
    </main>
	<script>
      let mesaCount = 1;
      document.addEventListener('DOMContentLoaded', () => { 
		const socket = io.connect();
        const username = document.getElementById("username").dataset.username;
		inicializarMesas();
        // Enviar el evento de conexión al servidor con el nombre de usuario
        socket.emit('join', { username: username });

        socket.on('update_players', function(players) {
            // Actualiza la lista de jugadores conectados
		function sendMessage() {
           const message = "Este es un mensaje de prueba";
           socket.emit('chat_message', { username: username, message: message });
         }
        });
    </script>
    <script>
     /*   document.addEventListener('DOMContentLoaded', () => {
            //const username = document.getElementById("username").dataset.username;
			const username = document.getElementById('username').getAttribute('data-username');
            // Enviar evento de unión al servidor
            const socket = io.connect();
			// Verificar conexión
			socket.on('connect', () => {
				alert("Conectado al servidor");
				//console.log("Conectado al servidor");
			});
					
            socket.emit('join', { username: username });

            // Escuchar el evento 'update_players' para actualizar la lista de usuarios
            socket.on('update_players', function(players) {
                const playerList = document.getElementById('player-list');
                playerList.innerHTML = '';  // Limpiar la lista actual de jugadores

                // Añadir cada usuario conectado a la lista
                players.forEach(player => {
                    const li = document.createElement('li');
                    li.textContent = player;
                    playerList.appendChild(li);
                });
            });*/
            // Escuchar el evento 'chat_message' para mostrar los mensajes en el chat
           /* socket.on('chat_message', function(data) {
                const chatBox = document.getElementById('chat-box');
                const messageElement = document.createElement('p');
                messageElement.textContent = `${data.username}: ${data.message}`;
                chatBox.appendChild(messageElement);
                chatBox.scrollTop = chatBox.scrollHeight; // Desplaza el chat hacia abajo
            });
			function sendMessage() {
			   const message = "Este es un mensaje de prueba";
			   socket.emit('chat_message', { username: username, message: message });
			}*/
			/*socket.on('chat_message', function(data) {
				//alert('Entra en enviar mensaje de chat');
				alert('Entra en scrip.js con username: ' + username);
				const chatBox = document.getElementById('chat-box');
				const message = document.createElement('p');
				message.classList.add('message');
				message.innerText = `${data.username}: ${data.message}`;
				chatBox.appendChild(message);
				// Desplazar el contenedor `chat-box` al final
				chatBox.scrollTop = chatBox.scrollHeight;
			});*/
            // Función para enviar mensajes al servidor
           /* window.sendMessage = function() {
                const messageInput = document.getElementById('message-input');
                const message = messageInput.value;
                if (message) {
                    socket.emit('chat_message', { username: username, message: message });
                    messageInput.value = ''; // Limpiar el campo de entrada
                }
            };
        });*/
    </script>
	<script>		
        let mesaCount = 3;

        function inicializarMesas() {
            const mesasContainer = document.getElementById("mesasContainer");

            // Mesa 1 - En esera
            const mesaInicial = crearMesaHTML(`Mesa ${mesaCount}`, "En Espera", ["", "", "", ""]);

            mesasContainer.appendChild(mesa2);
        }

        function crearMesaHTML(nombre, estado, avatares) {
            const nuevaMesa = document.createElement("div");
            nuevaMesa.className = "mesa";
            nuevaMesa.innerHTML = `
                <h3>${nombre} - ${estado}</h3>
                <img src="../static/img/tapete_mus.png" alt="Tapete de Mus" class="tapete">
                <div class="jugadores">
                    <div class="jugador" style="background-image: url('${avatares[0]}');" onclick="toggleAsiento(this)"></div>
                    <div class="jugador" style="background-image: url('${avatares[1]}');" onclick="toggleAsiento(this)"></div>
                    <div class="separador"></div>												 
                    <div class="jugador" style="background-image: url('${avatares[2]}');" onclick="toggleAsiento(this)"></div>
                    <div class="jugador" style="background-image: url('${avatares[3]}');" onclick="toggleAsiento(this)"></div>
                </div>
                <span class="nombre-jugador jugador-1">Jugador 1</span>
                <span class="nombre-jugador jugador-2">Jugador 2</span>
                <span class="nombre-jugador jugador-3">Jugador 3</span>
                <span class="nombre-jugador jugador-4">Jugador 4</span>																	   
           `;
            return nuevaMesa;
        }

        function crearMesa() {
            const mesasContainer = document.getElementById("mesasContainer");
            const nuevaMesa = crearMesaHTML(`Mesa ${mesaCount + 1}`, "En Espera", [
                "", "", "", ""
            ]);		   
            mesasContainer.appendChild(nuevaMesa);
            mesaCount++;
            mesasContainer.scrollTop = mesasContainer.scrollHeight;
        }

        function toggleAsiento(elemento) {
            if (!elemento.classList.contains("occupied")) {
                elemento.classList.add("occupied");
                elemento.style.backgroundImage = "url('../static/img/avatar1.png')";
            } else {
                elemento.classList.remove("occupied");
                elemento.style.backgroundImage = "";
            }
			verificarMesaCompleta(elemento.closest(".mesa"));												 
        }
		
       function verificarMesaCompleta(mesa) {
            const jugadores = mesa.querySelectorAll(".jugador.occupied");
            if (jugadores.length === 4) {
                setTimeout(() => {
                    alert("Mesa completa. Redirigiendo al juego...");
                    window.location.href = "mesa_juego.html"; // Redirige a la página de la partida
                }, 500);
		    }
        } 
															 
		/*function sendMessage() {
			
            const inputChat = document.getElementById('inputChat');
            const mensaje = inputChat.value;
             alert('Entra en send;essage') 
			if (mensaje) {
			   // alert('Continua en sendMessage') 
                const chatBox = document.getElementById('chat-box');
                const nuevoMensaje = document.createElement('div');
                nuevoMensaje.classList.add('mensaje', 'self-message');
                nuevoMensaje.textContent = `Tú: ${mensaje}`;
                chatBox.appendChild(nuevoMensaje);
                scrollToBottom(chatBox);
                inputChat.value = '';
            }
        } */
		function enviarMensaje() {
            const inputChat = document.getElementById('inputChat');
            const mensaje = inputChat.value;
            if (mensaje) {
                const chatBox = document.getElementById('chat-box');
                const nuevoMensaje = document.createElement('div');
                nuevoMensaje.classList.add('mensaje', 'self-message');
                nuevoMensaje.textContent = `Tú: ${mensaje}`;
                chatBox.appendChild(nuevoMensaje);
                scrollToBottom(chatBox);
                inputChat.value = '';
            }
        }

		function scrollToBottom(element) {
			element.scrollTop = element.scrollHeight;
		}
        window.onload = inicializarMesas;
	</script>
</body>
</html>
