
<%@ page import = "java.util.Iterator" %>
<%@ page import = "java.util.ArrayList" %>
<html>
<head>

<title>Simulación Tarifa Vida</title>
<link rel="stylesheet" href="css/style.css">
<link rel="detaimagesPath" href="img/.gif" name="imagesPath" id="imagesPath">

<script language="JavaScript" id="RootImages">
var imagePath="img/.gif";
var itemsCoeficientes = new Array();
</script>

<script language="JavaScript" type="text/javascript">

function cargarCoeficientes(){

itemsCoeficientes[1] = new Array(1000000.00,1000000.00,1000000.00,1000000.00,0.0000000,0.0000000,1000000.00,1000000.00);
itemsCoeficientes[2] = new Array(1000000.00,1000000.00,1000000.00,1000000.00,0.0000000,0.0000000,1000000.00,1000000.00);
itemsCoeficientes[3] = new Array(1000000.00,1000000.00,1000000.00,1000000.00,0.0000000,0.0000000,1000000.00,1000000.00);
itemsCoeficientes[4] = new Array(1000000.00,1000000.00,1000000.00,1000000.00,0.0000000,0.0000000,1000000.00,1000000.00);
itemsCoeficientes[5] = new Array(1000000.00,1000000.00,1000000.00,1000000.00,0.0000000,0.0000000,1000000.00,1000000.00);
itemsCoeficientes[6] = new Array(1000000.00,1000000.00,1000000.00,1000000.00,0.0000000,0.0000000,1000000.00,1000000.00);
itemsCoeficientes[7] = new Array(1000000.00,1000000.00,1000000.00,1000000.00,0.0000000,0.0000000,1000000.00,1000000.00);
itemsCoeficientes[8] = new Array(1000000.00,1000000.00,1000000.00,1000000.00,0.0000000,0.0000000,1000000.00,1000000.00);
itemsCoeficientes[9] = new Array(1000000.00,1000000.00,1000000.00,1000000.00,0.0000000,0.0000000,1000000.00,1000000.00);
itemsCoeficientes[10] = new Array(1000000.00,1000000.00,1000000.00,1000000.00,0.0000000,0.0000000,1000000.00,1000000.00);
itemsCoeficientes[11] = new Array(1000000.00,1000000.00,1000000.00,1000000.00,0.0000000,0.0000000,1000000.00,1000000.00);
itemsCoeficientes[12] = new Array(1000000.00,1000000.00,1000000.00,1000000.00,0.0000000,0.0000000,1000000.00,1000000.00);
itemsCoeficientes[13] = new Array(1000000.00,1000000.00,1000000.00,1000000.00,0.0000000,0.0000000,1000000.00,1000000.00);
itemsCoeficientes[14] = new Array(1000000.00,1000000.00,1000000.00,1000000.00,0.0000000,0.0000000,1000000.00,1000000.00);
itemsCoeficientes[15] = new Array(1000000.00,1000000.00,1000000.00,1000000.00,0.0000000,0.0000000,1000000.00,1000000.00);
itemsCoeficientes[16] = new Array(998421.50,999704.10,998421.50,999704.10,0.0000000,0.0000000,998421.50,999704.10); 
itemsCoeficientes[17] = new Array(996828.92,999372.50,996828.92,999372.50,0.0000000,0.0000000,996828.92,999372.50);
itemsCoeficientes[18] = new Array(995233.39,999030.00,995233.39,999030.00,0.0000000,0.0000000,995233.39,999030.00);
itemsCoeficientes[19] = new Array(993646.00,998691.10,993646.00,998691.10,0.0000000,0.0000000,993646.00,998691.10);
itemsCoeficientes[20] = new Array(992077.53,998361.20,992077.53,998361.20,0.0002498,0.0002500,992077.53,998361.20);
itemsCoeficientes[21] = new Array(990539.51,998035.50,990539.51,998035.50,0.0002498,0.0002500,990291.87,997785.99);
itemsCoeficientes[22] = new Array(989044.39,997699.80,989044.39,997699.80,0.0002498,0.0002500,988549.93,997201.01);
itemsCoeficientes[23] = new Array(987596.13,997339.30,987596.13,997339.30,0.0002498,0.0002500,986855.62,996591.48);
itemsCoeficientes[24] = new Array(986189.99,996949.30,986189.99,996949.30,0.0002498,0.0002499,985204.17,995952.72);
itemsCoeficientes[25] = new Array(984821.16,996529.30,984821.16,996529.30,0.0002498,0.0002499,983590.75,995284.26);
itemsCoeficientes[26] = new Array(983484.36,996079.50,983484.36,996079.50,0.0002498,0.0002499,982010.06,994586.31);
itemsCoeficientes[27] = new Array(982173.87,995599.50,982173.87,995599.50,0.0002498,0.0002499,980456.35,993858.51);
itemsCoeficientes[28] = new Array(980883.59,995088.90,980883.59,995088.90,0.0002498,0.0002499,978923.54,993100.46);
itemsCoeficientes[29] = new Array(979606.67,994546.80,979606.67,994546.80,0.0002498,0.0002499,977404.76,992311.31);
itemsCoeficientes[30] = new Array(978336.32,993972.00,978336.32,993972.00,0.0002498,0.0002499,975893.23,991489.86);
itemsCoeficientes[31] = new Array(977064.97,993363.10,977064.97,993363.10,0.0002498,0.0002499,974381.40,990634.76);
itemsCoeficientes[32] = new Array(975784.63,992718.20,975784.63,992718.20,0.0002498,0.0002499,972861.29,989744.14);
itemsCoeficientes[33] = new Array(974486.93,992035.50,974486.93,992035.50,0.0002565,0.0002566,971324.59,988816.22);
itemsCoeficientes[34] = new Array(973162.99,991312.60,973162.99,991312.60,0.0002702,0.0002703,969755.97,987842.04);
itemsCoeficientes[35] = new Array(971803.48,990546.70,971803.48,990546.70,0.0002861,0.0002862,968139.38,986811.92);
itemsCoeficientes[36] = new Array(970398.84,989735.10,970398.84,989735.10,0.0003046,0.0003047,966463.20,985721.04);
itemsCoeficientes[37] = new Array(968938.87,988874.70,968938.87,988874.70,0.0003260,0.0003261,964714.97,984563.89);
itemsCoeficientes[38] = new Array(967412.41,987963.40,967412.41,987963.40,0.0003506,0.0003507,962880.92,983335.65);
itemsCoeficientes[39] = new Array(965807.37,986999.50,965807.37,986999.50,0.0003789,0.0003790,960946.08,982031.54);
itemsCoeficientes[40] = new Array(964110.84,985982.50,964110.84,985982.50,0.0004112,0.0004114,958894.34,980647.67);
itemsCoeficientes[41] = new Array(962308.53,984912.70,962308.53,984912.70,0.0004481,0.0004483,956707.83,979180.45);
itemsCoeficientes[42] = new Array(960385.55,983791.00,960385.55,983791.00,0.0004899,0.0004901,954367.79,977626.59);
itemsCoeficientes[43] = new Array(958326.00,982619.20,958326.00,982619.20,0.0005372,0.0005375,951854.14,975983.28);
itemsCoeficientes[44] = new Array(956112.65,981399.20,956112.65,981399.20,0.0005910,0.0005914,949145.02,974247.29);
itemsCoeficientes[45] = new Array(953725.24,980129.60,953725.24,980129.60,0.0006526,0.0006530,946214.75,972411.18);
itemsCoeficientes[46] = new Array(951139.97,978804.80,951139.97,978804.80,0.0006971,0.0006977,943033.20,970462.23);
itemsCoeficientes[47] = new Array(948329.83,977415.20,948329.83,977415.20,0.0007484,0.0007491,939590.57,968407.90);
itemsCoeficientes[48] = new Array(945264.35,975947.10,945264.35,975947.10,0.0008070,0.0008078,935851.26,966228.46);
itemsCoeficientes[49] = new Array(941910.37,974383.40,941910.37,974383.40,0.0008735,0.0008745,931776.77,963900.44);
itemsCoeficientes[50] = new Array(938231.55,972702.70,938231.55,972702.70,0.0009484,0.0009496,927325.21,961395.66);
itemsCoeficientes[51] = new Array(934188.99,970880.00,934188.99,970880.00,0.0010322,0.0010336,922452.07,958682.10);
itemsCoeficientes[52] = new Array(929741.69,968886.70,929741.69,968886.70,0.0011254,0.0011270,917110.80,955724.01);
itemsCoeficientes[53] = new Array(924846.13,966692.30,924846.13,966692.30,0.0012284,0.0012305,911252.41,952483.50);
itemsCoeficientes[54] = new Array(919457.15,964270.20,919457.15,964270.20,0.0013416,0.0013441,904826.49,948926.47);
itemsCoeficientes[55] = new Array(913529.04,961599.10,913529.04,961599.10,0.0014652,0.0014682,897782.69,945024.18);
itemsCoeficientes[56] = new Array(907016.13,958663.00,907016.13,958663.00,0.0015994,0.0016030,890071.32,940753.33);
itemsCoeficientes[57] = new Array(899872.83,955451.10,899872.83,955451.10,0.0017444,0.0017488,881643.54,936095.92);
itemsCoeficientes[58] = new Array(892054.38,951958.00,892054.38,951958.00,0.0019006,0.0019059,872452.22,931039.52);
itemsCoeficientes[59] = new Array(883517.06,948183.10,883517.06,948183.10,0.0020680,0.0020745,862452.34,925576.62);
itemsCoeficientes[60] = new Array(874218.84,944131.10,874218.84,944131.10,0.0022471,0.0022550,851601.65,919705.20);
itemsCoeficientes[61] = new Array(864119.77,939811.50,864119.77,939811.50,0.0024381,0.0024477,839861.32,913428.15);
itemsCoeficientes[62] = new Array(853182.52,935238.90,853182.52,935238.90,0.0026413,0.0026528,827196.46,906753.58);
itemsCoeficientes[63] = new Array(841373.03,930433.70,841373.03,930433.70,0.0028568,0.0028706,813577.04,899695.47);
itemsCoeficientes[64] = new Array(828661.31,925308.50,828661.31,925308.50,0.0030849,0.0031010,798978.78,892164.08);
itemsCoeficientes[65] = new Array(815021.71,919673.40,815021.71,919673.40,0.0033576,0.0033766,783383.42,883972.64);
}

function calcularPrimas(){

   // Parametros para el calculo:
     var Ipri = 0.02;
     var Ires = 0.02;

   // Recuperamos la edad actuarial
	 var span = document.getElementById("edadLine");	   
     var edad = span.firstChild.nodeValue;

   // Recuperamos el sexo
     var sexo = "1";
	if(document.AttendanceForm.sexo[0].checked) {
       sexo = "0";
	}
   // Recuperamos si es asegurado
     var asegurado = "N";
	if(document.AttendanceForm.asegurado[0].checked) {
       asegurado = "S";
	}
   // Recuperamos el capital inicial
    var capital = 0;
	if(document.AttendanceForm.capital[0].checked)  capital = 30000; else 
	if(document.AttendanceForm.capital[1].checked)  capital = 60000; else
	if(document.AttendanceForm.capital[2].checked)  capital = 100000; else 
       capital = document.AttendanceForm.cantidad.value;

   // Recuperamos la modalidad y duracion
    var modalidad = 2;
    var duracion = 1;
	if(document.AttendanceForm.modalidad[0].checked)  modalidad = 1; else 
       var duracion = (document.AttendanceForm.duracionSelect.options[document.AttendanceForm.duracionSelect.selectedIndex].value);

    var PUmbpe = 0.00;
    var PUinv = 0.00;
    var SumaPAmbpe = 0.00;
    var SumaPAinv = 0.00;
    var IndLX = sexo;
    var IndLaaX = (parseInt(sexo,10) + 6);
    var IndIX = (parseInt(sexo,10) + 4);

  // Calculamos los distintos componentes para obtener las primas
     for (t = 0; t < duracion; t++) {
         edad1 = (parseInt(edad,10) + t);
         edad2 = (parseInt(edad1,10) + 1);   
         factor1 = (1 / Math.pow((1 + Ipri), (t + 0.5)));
         factor2 = (1 / Math.pow((1 + Ipri), t));
         PUmbpe += factor1 * ((itemsCoeficientes[edad1] [IndLX] - itemsCoeficientes[edad2] [IndLX]) / itemsCoeficientes[edad] [IndLX]);
         SumaPAmbpe += factor2 * (itemsCoeficientes[edad1] [IndLX] / itemsCoeficientes[edad] [IndLX]);
         PUinv += factor1 * ((itemsCoeficientes[edad1] [IndLaaX] / itemsCoeficientes[edad] [IndLaaX]) * itemsCoeficientes[edad1] [IndIX]);
         SumaPAinv += factor2 * itemsCoeficientes[edad1] [IndLaaX] / itemsCoeficientes[edad] [IndLaaX];
        // alert ( " item1: " + itemsCoeficientes[edad1] [IndLaaX] + " item2: " + itemsCoeficientes[edad] [IndLaaX] + " item3: " + itemsCoeficientes[edad1] [IndIX]);
     }

  // Calculamos cada prima
     PAmbpe = PUmbpe / SumaPAmbpe;
     PAinv = PUinv / SumaPAinv;
     PrimaPura = PAmbpe * capital;
     PrimaComercial = ((PrimaPura * (1.08 / 0.9)) + 20);
     PrimaInvalidez = PAinv * capital / 0.82;
     PrimaAccidente =  capital * 0.0003 / 0.82;   
     PmasPI = PrimaComercial + PrimaInvalidez;
     PmasPImasAcc = PrimaComercial + PrimaInvalidez + PrimaAccidente;
     //alert ("PrimaComercial: " + PrimaComercial + " PrimaInvalidez : " + PrimaInvalidez + " PmasPI : " + PmasPI);
     var span2 = document.getElementById("primavLine");	   
     span2.firstChild.nodeValue = "" + formatMoney(PrimaComercial) +" €";
     var span3 = document.getElementById("primaviLine");	   
     span3.firstChild.nodeValue = "" + formatMoney(PmasPI) +" €";
     var span4 = document.getElementById("primaviaLine");	   
     span4.firstChild.nodeValue = "" + formatMoney(PmasPImasAcc) +" €";
     return true;
}

</script>

<script language="JavaScript">

imagePath = imagePath.substring(0,imagePath.length-8);


function callTarif() {
  if (!checkDates()) {
     //alert("La fecha de nacimiento es incorrecta");
     return false;
	 }
  if (!validaciones()) {
     return false;
	 }

     cargarCoeficientes();
     calcularPrimas();
}

function submitForm(url){

  if (!checkDates()) {
     //alert("La fecha de nacimiento es incorrecta");
     return false;
	 }
  if (!validaciones()) {
     return false;
	 }
     cargarCoeficientes();
     calcularPrimas();

   //if (url=='contrat_beneficiarios2_vida.htm')
   // document.AttendanceForm.action=urlBindBenef;
  //alert("Submit"+ document.AttendanceForm.provinceName.value);
  //document.AttendanceForm.submit();
  return false;
}

</script>
<script language="JavaScript">

function MM_preloadImages() { //v3.0
  var d=document; if(d.images){ if(!d.MM_p) d.MM_p=new Array();
    var i,j=d.MM_p.length,a=MM_preloadImages.arguments; for(i=0; i<a.length; i++)
    if (a[i].indexOf("#")!=0){ d.MM_p[j]=new Image; d.MM_p[j++].src=a[i];}}
}

function MM_findObj(n, d) { //v3.0
  var p,i,x;  if(!d) d=document; if((p=n.indexOf("?"))>0&&parent.frames.length) {
    d=parent.frames[n.substring(p+1)].document; n=n.substring(0,p);}
  if(!(x=d[n])&&d.all) x=d.all[n]; for (i=0;!x&&i<d.forms.length;i++) x=d.forms[i][n];
  for(i=0;!x&&d.layers&&i<d.layers.length;i++) x=MM_findObj(n,d.layers[i].document); return x;
}

function MM_nbGroup(event, grpName) { //v3.0
  var i,img,nbArr,args=MM_nbGroup.arguments;
  if (event == "init" && args.length > 2) {
    if ((img = MM_findObj(args[2])) != null && !img.MM_init) {
      img.MM_init = true; img.MM_up = args[3]; img.MM_dn = img.src;
      if ((nbArr = document[grpName]) == null) nbArr = document[grpName] = new Array();
      nbArr[nbArr.length] = img;
      for (i=4; i < args.length-1; i+=2) if ((img = MM_findObj(args[i])) != null) {
        if (!img.MM_up) img.MM_up = img.src;
        img.src = img.MM_dn = args[i+1];
        nbArr[nbArr.length] = img;
    } }
  } else if (event == "over") {
    document.MM_nbOver = nbArr = new Array();
    for (i=1; i < args.length-1; i+=3) if ((img = MM_findObj(args[i])) != null) {
      if (!img.MM_up) img.MM_up = img.src;
      img.src = (img.MM_dn && args[i+2]) ? args[i+2] : args[i+1];
      nbArr[nbArr.length] = img;
    }
  } else if (event == "out" ) {
    for (i=0; i < document.MM_nbOver.length; i++) {
      img = document.MM_nbOver[i]; img.src = (img.MM_dn) ? img.MM_dn : img.MM_up; }
  } else if (event == "down") {
    if ((nbArr = document[grpName]) != null)
      for (i=0; i < nbArr.length; i++) { img=nbArr[i]; img.src = img.MM_up; img.MM_dn = 0; }
    document[grpName] = nbArr = new Array();
    for (i=2; i < args.length-1; i+=2) if ((img = MM_findObj(args[i])) != null) {
      if (!img.MM_up) img.MM_up = img.src;
      img.src = img.MM_dn = args[i+1];
      nbArr[nbArr.length] = img;
  } }
}










 /*
  Esta función procesa una cadena y devuelve "true" si es correcta.
  Será más útil si se copia cuando se necesite y se toma el mes, día y año.
  No comprueba que sea una fecha lógica, tan sólo analiza la cadena.
 */
 function parseDate(separatorChar) {
    var day="", month="", year="";
    var left="";
    str=document.FindForm.medicalDay.value;
    str=trim(str);
    pos=0;
    if ((pos=str.search(separatorChar)) != -1) {
       day=str.substring(0,pos);
       alert("day="+day);
       pos++;
       if(pos>str.length) {
          //String not large enough!
          return false;
       }
       left=str.substring(pos,str.length);
       if ((pos=left.search(separatorChar)) != -1) {
           month=left.substring(0,pos);
           alert("month="+month);
           pos++;
           if(pos>left.length) {
              //String not large enough!
              return false;
           }
           year=left.substring(pos,str.length);
           alert("year="+year);
       }else {
           //String lacks of second (separator) slash
           return false;
       }
    }else{
        //String lacks of (separator) "/"
        return false;
    }
  }

//funcion que elimina espacios al principio y al final de la cadena
function trim(strText) {
  // this will get rid of leading spaces
  while (strText.substring(0,1) == ' ')
    strText = strText.substring(1, strText.length);

  // this will get rid of trailing spaces
  while (strText.substring(strText.length-1,strText.length) == ' ')
    strText = strText.substring(0, strText.length-1);

  return strText;
}

//función que indica si una cadena es vacía
function isEmptyString(value){
	return (trim(value).length==0);

}

/**
 * Formatea un número para presentarlo como nn.nnn.nnn,dd
 * @param num Número a formatear
 */
function formatMoney(num) {
  var isNegative = false;
  num = num.toString().replace(/\\$|\\,/g,'');

  if (isNaN(num)) {
    num = "0";
  }

  if (num < 0) {
    num = Math.abs(num);
    isNegative = true;
  }

  cents = Math.floor((num * 100 + 0.5) % 100);
  num = Math.floor((num * 100 + 0.5) / 100).toString();
  if (cents < 10) {
    cents = "0" + cents;
  }

  for (i = 0; i < Math.floor((num.length - (1 + i)) / 3); i++) {
    num = num.substring(0, num.length - (4 * i + 3)) + '.' + num.substring(num.length - (4 * i + 3));
  }
  var result = num + ',' + cents;

  if (isNegative) {
    result = "-" + result;
  }
  return result;
}

//función de validación de fechas.
function dateIsValid(day, month, year){
    var myDayStr = '';
    if ((day=='')||(month=='')||(year==''))
      return false;
    
    if(parseInt(year,10)<1850)
    	return false;

    var myDateStr = parseInt(month,10)+'/'+parseInt(day,10)+"/"+parseInt(year,10);

    var myDate = new Date( myDateStr );

    month = myDate.getMonth()+1;
    day=myDate.getDate();
    var myDate_string =month+"/"+day+"/"+myDate.getFullYear();

    return(myDate_string==myDateStr);


}

//función de validación de fechas de nacimiento. La fecha de nacimiento debe ser anterior al día de hoy.
function birthDateIsValid(day, month, year){
	if(dateIsValid(day, month, year)){
		var myDateStr = parseInt(month,10)+'/'+parseInt(day,10)+"/"+parseInt(year,10);
		var myDate = new Date(myDateStr);
		var currentDate= new Date();
		currentDate.setMilliseconds(0);
		currentDate.setHours(0);
		currentDate.setMinutes(0);
		currentDate.setSeconds(0);
		return(currentDate>=myDate);
	}
	return false;
}

function translateDateError(day,month,year){
    var msgError="La fecha es incorrecta";
    if (day.value=="08") {
        day.value="8";
    }
    if (day.value=="09") {
        day.value="9";
    }
    if (month.value=="08") {
        month.value="8";
    }
    if (month.value=="09") {
        month.value="9";
    }
    if (day.value==''){
	msgError="Debe rellenar el campo día de la fecha";
	day.focus();
	return msgError;
	}
    if (month.value==''){
	month.focus();
	msgError="Debe rellenar el campo mes de la fecha";
	return msgError;
	}
    if (year.value==''){
	year.focus();
	msgError="Debe rellenar el campo año de la fecha";
	return msgError;
    }
    if(isNaN(day.value)){
	day.focus();
	msgError="El día de la fecha debe ser un número";
	return msgError;
	}
    if(isNaN(month.value)){
	month.focus();
	msgError="El mes de la fecha debe ser un número";
	return msgError;
    }
    if(isNaN(year.value)){
	year.focus();
	msgError="El año de la fecha debe ser un número";
	return msgError;
    }
    if((parseInt(day.value)>31)||(parseInt(day.value)<1)){
	day.focus();
	msgError="El día de la fecha es incorrecto";
	return msgError;
    }
    if((parseInt(month.value)>12)||(parseInt(month.value)<1)){
	month.focus();
	msgError="El mes de la fecha es incorrecto";
	return msgError;
    }
    if((year.value.length<4)||(parseInt(year.value)<1900)){
	year.focus();
	msgError="El año de la fecha es incorrecto";
	return msgError;
    }
    day.focus();
    return msgError;
}

function checkDate(day, month, year){

   //alert(day+"-"+month+"-"+year);
    var myDayStr = day;
    var error="";
    if ((day=='')&&(month=='')&&(year==''))
      return true;
    if (month==''){
      return false;
    }
    if(year<1900)
	return false;
    var myDateStr = month+'/'+day+"/"+year;
    var myDate = new Date( myDateStr );
    month = myDate.getMonth()+1;
    if (month<10)
        month="0"+month;
    day=myDate.getDate();
    if (day<10)
        day="0"+day;
    var myDate_string =month+"/"+day+"/"+myDate.getFullYear();
   // alert (myDate_string+"-"+myDateStr);
    if ( myDate_string!=myDateStr)
        return false;
    return true;
    //return error;

 }

function checkDates(){
	 var span = document.getElementById("edadLine");	   
     var edad = span.firstChild.nodeValue;

   if (!checkDate(document.AttendanceForm.day1.value,document.AttendanceForm.month1.value,document.AttendanceForm.year1.value)){
    var error = translateDateError(document.AttendanceForm.day1,document.AttendanceForm.month1,document.AttendanceForm.year1);
    alert(error);
    return false;
   }

 if ((parseInt(edad)<18) || (parseInt(edad)>65)) {
	alert('La edad no está comprendida entre los límites de edad (18 - 65) establecidos para la contratación de este producto. \nPara más información le rogamos que se ponga en contacto con nuestra Delegación más cercana o llame \nal teléfono 901 10 10 10.');
	document.AttendanceForm.day1.focus();
	return false;
   }
   
   return true;
}


function checkDuracionSelect(){

  if(document.AttendanceForm.modalidad[1].checked){
    if (document.AttendanceForm.duracionSelect.options[document.AttendanceForm.duracionSelect.selectedIndex].value=='0'){
        alert ("Debe rellenar el campo de duración");
        document.AttendanceForm.duracionSelect.focus();
        return false;
     }
   }	
    return true;
 }

function calculaEdad(){  

ano = document.AttendanceForm.year1.value;  
mes = document.AttendanceForm.month1.value; 
dia = document.AttendanceForm.day1.value; 	
if(dateIsValid(dia, mes, ano)){  
    hoy=new Date();
	mesesEdad = ((hoy.getYear() * 12) +  (hoy.getMonth() + 1)) - (ano * 12 + (parseInt(mes,10)));
	edad = parseInt((mesesEdad / 12),10);
	resto = mesesEdad % 12;
	if (resto > 6) edad = edad + 1;
	//if (resto = 0)
    //	 if (hoy.getUTCDate() - dia >= 0) 
    //     	edad = edad + 1;

	var span = document.getElementById("edadLine");	   
	span.firstChild.nodeValue = ""+parseInt(edad,10);
   }
} 

function cargarFecha(){   
       var currentDate= new Date();
	   //document.AttendanceForm.dateactLine=currentDate;
       var fechaHoy=currentDate.getDate()+'/'+(currentDate.getMonth() + 1)+'/'+currentDate.getFullYear();     
	   var span = document.getElementById("dateactLine");	   
       span.firstChild.nodeValue = fechaHoy;
}

function validaciones(){ 

	if((!document.AttendanceForm.asegurado[0].checked) && (!document.AttendanceForm.asegurado[1].checked)){
  		alert('Debe seleccionar si es o no es usted asegurado ');
    	return false;
	}

	if((!document.AttendanceForm.sexo[0].checked) && (!document.AttendanceForm.sexo[1].checked)){
  		alert('Debe seleccionar el sexo ');
    	return false;
	}
	
	if((!document.AttendanceForm.capital[0].checked) && (!document.AttendanceForm.capital[1].checked) && (!document.AttendanceForm.capital[2].checked) && (!document.AttendanceForm.capital[3].checked)) {
		if(isEmptyString(document.AttendanceForm.cantidad.value)){
			alert('Debe seleccionar o aportar el capital a asegurar ');
  		    document.AttendanceForm.cantidad.focus();
  		    return false;
		}
		else if(isNaN(document.AttendanceForm.cantidad.value)){
			alert('El capital a asegurar debe ser un número');
  		document.AttendanceForm.cantidad.focus();
  		return false;
		}
     }

   if((!document.AttendanceForm.modalidad[0].checked) && (!document.AttendanceForm.modalidad[1].checked)){
		alert('Debe seleccionar la modalidad de Seguro ');
		return false;
	}

  if (!checkDuracionSelect()) {
     return false;
     } else {
   // Recuperamos la edad actuarial
	    var span = document.getElementById("edadLine");	   
        var edad = span.firstChild.nodeValue;
        var duracion = (document.AttendanceForm.duracionSelect.options[document.AttendanceForm.duracionSelect.selectedIndex].value);
        if ((parseInt(edad)+parseInt(duracion))>65) {
	    alert('La duración del contrato a partir de su edad excede los 65 años.');
            document.AttendanceForm.duracionSelect.focus();
            return false;
	     }
     }

   return true;
}

</script>

</head>

<body bgcolor="#FFFFFF" onLoad="cargarFecha();MM_preloadImages(imagePath + 'img/botones/volverbordei_so.gif',imagePath+'img/botones/volverbordei_pre.gif',imagePath + 'img/solicita_pre.gif',imagePath + 'img/solicita_so.gif')">

<form name="AttendanceForm" id="AttendanceForm" action="contrat_beneficiarios2_vida.htm" method="post">

<div id='ldhePicture1' name='ldhePicture1' style='position:absolute;left:195px;top:20px;width:107px;height:27px;' align='left' valign='top'>
<img src="img/logo.gif" width="101" height="27"></div>
<div id='ldhePicture2' name='ldhePicture2' style='position:absolute;left:132px;top:49px;width:217px;height:46px;' align='left' valign='top'>
  <img src="img/calltarifas.gif" width="217" height="40"></div>
<div id='ldhePicture3' name='ldhePicture3' style='position:absolute;left:15px;top:95px;width:256px;height:24px;' align='left' valign='top'>
  <img src="img/asisa_vida.gif" width="256" height="24"></div>
<div id='ldheRect1' name='ldheRect1' style='position:absolute;left:15px;top:117px;width:476px;height:296px;'>
<table width='476' border='0' cellspacing='0' cellpadding='0'>
<tr><td height='349' width='476' bgcolor='#999999'><img src='img/blanco.gif' border='0'></td></tr>
</table></div>
<div id='ldheiRect1' name='ldheiRect1'  style='position:absolute;left:16px;top:118px;width:474px;height:294px;'>
<table width='474' border='0' cellspacing='0' cellpadding='0'>
<tr><td height='347' width='454' bgcolor='#FFFFFF'><img src='img/blanco.gif' border='0'></td></tr>
</table></div>
<div id='ldheLabel1' name='ldheLabel1' style='position:absolute;left:25px;top:140px;width:146px;height:16px;text-align:left;' align='left' valign='top'>
<font class='textazulbold'>Datos del asegurado</font><br>
</div>
<div id='ldheLabel2' name='ldheLabel2' style='position:absolute;left:40px;top:160px;width:106px;height:13px;text-align:left;' align='left' valign='top'>
<font class="textcontenido">Fecha de nacimiento:</font><br>
</div>
<div id='ldheText6' name='ldheText6' style='position:absolute;left:150px;top:155px;width:21px;height:16px;' align='left' valign='top' bgcolor="#b2b2b2">
<input type="text" name="day1" id="day1" maxlength="2" size="1" class="textnormalgris"></div>
<div id='ldheText7' name='ldheText7' style='position:absolute;left:180px;top:155px;width:21px;height:16px;' align='left' valign='top'>
<input type="text" name="month1" id="month1" maxlength="2" size="1" class="textnormalgris"></div>
<div id='ldheText10' name='ldheText10' style='position:absolute;left:210px;top:155px;width:41px;height:16px;' align='left' valign='top'>
<input type="text" name="year1" id="year1" maxlength="4" size="1" class="textnormalgris" onblur="calculaEdad()"></div>
  <div id='ldheLabe1l2' name='ldheLabe1l2' style='position:absolute;left:285px;top:140px;width:92px;height:13px;text-align:left;' align='left' valign='top'> 
    <font class="textcontenido">Fecha actual:</font><br>
</div>
  <div id='ldheText106' name='ldheText106' style='position:absolute;left:375px;top:140px;width:21px;height:16px;' align='left' valign='top'> 
    <span class="textnormalgris" id="dateactLine">01/01/2007</span></div>
  <div id='ldheLabel4' name='ldheLabel4' style='position:absolute;left:285px;top:163px;width:81px;height:13px;text-align:left;' align='left' valign='top'> 
    <font class="textcontenido">Edad Actuarial:</font><br>
</div>
<div id='ldheText1' name='ldheText1' style='position:absolute;left:375px;top:163px;width:21px;height:16px;' align='left' valign='top'>
<span class="textnormalgris" id="edadLine">0</span></div>
<div id='ldheLabel13' name='ldheLabel13' style='position:absolute;left:400px;top:163px;width:46px;height:16px;text-align:left;' align='left' valign='top'>
<font class="textcontenido">Años</font><br>
</div>
<div id='ldheLabel18' name='ldheLabel18' style='position:absolute;left:285px;top:185px;width:36px;height:13px;text-align:left;' align='left' valign='top'>
<font class="textcontenido">Sexo:</font><br>
</div>
<div id='ldheText13' name='ldheText13' style='position:absolute;left:330px;top:188px;width:16px;height:11px;' align='left' valign='top'>
<input type='radio' id='sexoH' name='sexo' style='width:16px;height:11px;border:0px #000000 solid;background-color:#FFFFFF;color:#000000;font-family:Arial;font-size:8pt;' value='H'></div>
<div id='ldheLabel3' name='ldheLabel3' style='position:absolute;left:355px;top:185px;width:61px;height:16px;text-align:left;' align='left' valign='top'>
<font class="textcontenido">Hombre</font><br>
</div>
<div id='ldheText14' name='ldheText14' style='position:absolute;left:410px;top:188px;width:16px;height:11px;' align='left' valign='top'>
<input type='radio' id='sexoM' name='sexo' style='width:16px;height:11px;border:0px #000000 solid;background-color:#FFFFFF;color:#000000;font-family:Arial;font-size:8pt;' value='M'></div>
<div id='ldheLabel16' name='ldheLabel16' style='position:absolute;left:435px;top:185px;width:36px;height:16px;text-align:left;' align='left' valign='top'>
<font class="textcontenido">Mujer</font><br>
</div>
<div id='ldheLabel19' name='ldheLabel19' style='position:absolute;left:175px;top:185px;width:21px;height:16px;text-align:left;' align='left' valign='top'>
<font class="textcontenido">Si</font><br>
</div>
<div id='ldheLabel20' name='ldheLabel20' style='position:absolute;left:230px;top:185px;width:21px;height:16px;text-align:left;' align='left' valign='top'>
<font class="textcontenido">No</font><br>
</div>
<div id='ldheLabel11' name='ldheLabel11' style='position:absolute;left:40px;top:185px;width:116px;height:13px;text-align:left;' align='left' valign='top'>
<font class="textcontenido">Asegurado de Asisa:</font><br>
</div>
<div id='ldheText8' name='ldheText8' style='position:absolute;left:150px;top:188px;width:16px;height:11px;' align='left' valign='top'>
<input type='radio' id='aseguradoS' name='asegurado' style='width:16px;height:11px;border:0px #000000 solid;background-color:#FFFFFF;color:#000000;font-family:Arial;font-size:8pt;' value='S'></div>
<div id='ldheText9' name='ldheText9' style='position:absolute;left:205px;top:188px;width:16px;height:11px;' align='left' valign='top'>
<input type='radio' id='aseguradoN' name='asegurado' style='width:16px;height:11px;border:0px #000000 solid;background-color:#FFFFFF;color:#000000;font-family:Arial;font-size:8pt;' value='N'></div>
<div id='ldheLabel17' name='ldheLabel17' style='position:absolute;left:25px;top:212px;width:146px;height:16px;text-align:left;' align='left' valign='top'>
<font class='textazulbold'>Garantías del Seguro </font><br>
</div>
<div id='ldheLabel10' name='ldheLabel10' style='position:absolute;left:25px;top:235px;width:101px;height:16px;text-align:left;' align='left' valign='top'>
<font class="textcontenido"><b>Capital a asegurar</b></font><br>
</div>
<div id='ldheText25' name='ldheText25' style='position:absolute;left:140px;top:237px;width:16px;height:11px;' align='left' valign='top'>
<input type='radio' id='capital3' name='capital' style='width:16px;height:11px;border:0px #000000 solid;background-color:#FFFFFF;color:#000000;font-family:Arial;font-size:8pt;' value='3'></div>
<div id='ldheLabel21' name='ldheLabel21' style='position:absolute;left:165px;top:235px;width:76px;height:16px;text-align:left;' align='left' valign='top'>
<font class="textcontenido">30.000 euros</font><br>
</div>
<div id='ldheText1' name='ldheText1' style='position:absolute;left:255px;top:237px;width:16px;height:11px;' align='left' valign='top'>
<input type='radio' id='capital6' name='capital' style='width:16px;height:11px;border:0px #000000 solid;background-color:#FFFFFF;color:#000000;font-family:Arial;font-size:8pt;' value='6'></div>
<div id='ldheLabel4' name='ldheLabel4' style='position:absolute;left:280px;top:235px;width:76px;height:16px;text-align:left;' align='left' valign='top'>
<font class="textcontenido">60.000 euros</font><br>
</div>
<div id='ldheText2' name='ldheText2' style='position:absolute;left:375px;top:237px;width:16px;height:11px;' align='left' valign='top'>
<input type='radio' id='capital10' name='capital' style='width:16px;height:11px;border:0px #000000 solid;background-color:#FFFFFF;color:#000000;font-family:Arial;font-size:8pt;' value='10'></div>
<div id='ldheLabel5' name='ldheLabel5' style='position:absolute;left:400px;top:235px;width:76px;height:16px;text-align:left;' align='left' valign='top'>
<font class="textcontenido">100.000 euros</font><br>
</div>
<div id='ldheText2' name='ldheText122' style='position:absolute;left:25px;top:262px;width:16px;height:11px;' align='left' valign='top'>
<input type='radio' id='capital11' name='capital' style='width:16px;height:11px;border:0px #000000 solid;background-color:#FFFFFF;color:#000000;font-family:Arial;font-size:8pt;' value='11'></div>

  <div id='ldheLabel37' name='ldheLabel37' style='position:absolute;left:45px;top:260px;width:295px;height:16px;text-align:left;' align='left' valign='top'> 
    <font class="textcontenido">Si el capital supera los 100.000 euros, indique la cantidad:</font><br>
</div>
  <div id='ldheText72' name='ldheText72' style='position:absolute;left:337px;top:255px;width:65px;height:16px;' align='left' valign='top' bgcolor="#b2b2b2"> 
  <input type='text' id='cantidadInput' name='cantidad' value='' size="8" maxlength="8" class="textnormalgris"></div>
  <div id='ldheLabel6' name='ldheLabel6' style='position:absolute;left:442px;top:260px;width:41px;height:16px;text-align:left;' align='left' valign='top'> 
    <font class="textcontenido">euros</font><br>
</div>
<div id='ldheLabel17' name='ldheLabel17' style='position:absolute;left:25px;top:285px;width:62px;height:16px;text-align:left;' align='left' valign='top'>
<font class="textcontenido"><b>Modalidad </b></font></div>
<div id='ldheText125' name='ldheText125' style='position:absolute;left:88px;top:287px;width:16px;height:11px;' align='left' valign='top'>
<input type='radio' id='modalidadc' name='modalidad' style='width:16px;height:11px;border:0px #000000 solid;background-color:#FFFFFF;color:#000000;font-family:Arial;font-size:8pt;' value='T'></div>
  <div id='ldheLabel121' name='ldheLabel121' style='position:absolute;left:111px;top:285px;width:133px;height:16px;text-align:left;' align='left' valign='top'> 
    <font class="textcontenido">Temporal Anual Renovable</font></div>
<div id='ldheText225' name='ldheText225' style='position:absolute;left:255px;top:287px;width:16px;height:11px;' align='left' valign='top'>
<input type='radio' id='modalidadt' name='modalidad' style='width:16px;height:11px;border:0px #000000 solid;background-color:#FFFFFF;color:#000000;font-family:Arial;font-size:8pt;' value='C'></div>
  <div id='ldheLabel221' name='ldheLabel221' style='position:absolute;left:278px;top:285px;width:109px;height:16px;text-align:left;' align='left' valign='top'> 
    <font class="textcontenido">Temporal Constante</font></div>
  <div id='ldheLabel421' name='ldheLabel421' style='position:absolute;left:386px;top:281px;width:62px;height:16px;text-align:left;' align='left' valign='top'> 
                    <select name="TalPreSelect" id="duracionSelect" class="textsolicitudpeq" size="1">
                      <option value="0"> Duración</option>
                     <option value="65"> hasta 65 años</option>
					  <option value="2"> 2 años</option>
					  <option value="3"> 3 años</option>
					  <option value="4"> 4 años</option>
					  <option value="5"> 5 años</option>
					  <option value="6"> 6 años</option>
					  <option value="7"> 7 años</option>
					  <option value="8"> 8 años</option>
					  <option value="9"> 9 años</option>
					  <option value="10"> 10 años</option>
					  <option value="11"> 11 años</option>
					  <option value="12"> 12 años</option>
					  <option value="13"> 13 años</option>
					  <option value="14"> 14 años</option>
					  <option value="15"> 15 años</option>
					  <option value="16"> 16 años</option>
					  <option value="17"> 17 años</option>
					  <option value="18"> 18 años</option>
					  <option value="19"> 19 años</option>
					  <option value="20"> 20 años</option>
					  <option value="21"> 21 años</option>
					  <option value="22"> 22 años</option>
					  <option value="23"> 23 años</option>
					  <option value="24"> 24 años</option>
					  <option value="25"> 25 años</option>
					  <option value="26"> 26 años</option>
					  <option value="27"> 27 años</option>
					  <option value="28"> 28 años</option>
					  <option value="29"> 29 años</option>
					  <option value="30"> 30 años</option>
					  <option value="31"> 31 años</option>
					  <option value="32"> 32 años</option>
					  <option value="33"> 33 años</option>
					  <option value="34"> 34 años</option>
					  <option value="35"> 35 años</option>
					  <option value="36"> 36 años</option>
					  <option value="37"> 37 años</option>
					  <option value="38"> 38 años</option>
					  <option value="39"> 39 años</option>
					  <option value="40"> 40 años</option>
					  <option value="41"> 41 años</option>
					  <option value="42"> 42 años</option>
					  <option value="43"> 43 años</option>
					  <option value="44"> 44 años</option>
					  <option value="45"> 45 años</option>
					  <option value="46"> 46 años</option>
					  <option value="47"> 47 años</option>
                    </select>
  </div>
<div id='ldheLabel217' name='ldheLabel217' style='position:absolute;left:25px;top:212px;width:146px;height:18px;text-align:left;' align='left' valign='top'>
<font class='textazulbold'>Garantías del Seguro </font><br>
</div>
  <div id='ldheLabel1117' name='ldheLabel1117' style='position:absolute;left:206px;top:328px;width:65px;height:16px;' align='center' valign='center'> 
     <input type="button" onClick="callTarif();return false;" value="Calcular" class='home' name="button">
</div>
<div id='ldheLabell317' name='ldheLabell317' style='position:absolute;left:26px;top:332px;width:171px;height:18px;text-align:left;' align='left' valign='top'>
<font class='textazulbold'>Resultados de la simulación </font><br>
</div>
  <div id='ldheLabel5' name='ldheLabel5' style='position:absolute;left:137px;top:360px;width:154px;height:13px;text-align:left;' align='left' valign='top'> 
    <font class="textcontenido">Prima neta anual Seguro Vida:</font><br>
</div>
  <div id='ldheText4' name='ldheText4' style='position:absolute;left:295px;top:360px;width:77px;height:16px;' align='right' >
   <span id="primavLine" class="homeazulresalto"> €</span></div>

  <div id='ldheLabel9' name='ldheLabel9' style='position:absolute;left:83px;top:390px;width:202px;height:16px;text-align:left;' align='left' valign='top'> 
    <font class="textcontenido">Prima neta anual Seguro Vida + Invalidez:</font><br>
</div>
  <div id='ldheText12' name='ldheText12' style='position:absolute;left:295px;top:390px;width:77px;height:16px;' align='right' > 
    <span class="homeazulresalto" id="primaviLine"> €</span></div>
  <div id='ldheLabel15' name='ldheLabel15' style='position:absolute;left:33px;top:420px;width:251px;height:23px;text-align:left;' align='left' valign='top'> 
    <font class="textcontenido">Prima neta anual Seguro Vida+Invalidez+Accidente:</font><br>
</div>
  <div id='ldheText2' name='ldheText2' style='position:absolute;left:295px;top:420px;width:77px;height:16px;' align='right' > 
    <span class="homeazulresalto" id="primaviaLine"> €</span></div>

  <div id='ldheLabel115' name='ldheLabel115' style='position:absolute;left:21px;top:450px;width:117px;height:21px;text-align:left;' align='left' valign='top'> 
    <font class="textsolicitudpeq"> * Impuestos no incluidos</font><br>
</div>
	
  <div id='cuestPicture2' name='cuestPicture2' style='position:absolute;left:349px;top:465px;width:49px;height:20px;' align='top' valign='top'>
    <a href="javascript:window.history.back()" onClick="MM_nbGroup('down','group1','volverbordei_nor',imagePath + 'img/botones/volverbordei_pre.gif',1);return backPage();"  onMouseOver="MM_nbGroup('over','volverbordei_nor',imagePath + 'img/botones/volverbordei_so.gif','',1)" onMouseOut="MM_nbGroup('out')" ><img name="volverbordei_nor" id="volverbordei_nor" src="img/botones/volverbordei_nor.gif" border="0" onLoad="" width="71" height="19"></a>
  </div>
  <div id='cuestPicture3' name='cuestPicture3' style='position:absolute;left:420px;top:465px;width:1px;height:21px;' align='top' valign='top'> 
     <a id="reqhref" href="#" onClick="MM_nbGroup('down','group1','ok2',imagePath + 'img/solicita_pre.gif',1);return submitForm();" onMouseOver="MM_nbGroup('over','ok2',imagePath + 'img/solicita_so.gif','',1)" onMouseOut="MM_nbGroup('out')"><img src="img/solicita.gif" name="ok2" width="71" height="19" border="0" onLoad=""></a>
  </div>

</form>
</body>
</html>


